*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #606c76;
    font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .01em;
    line-height: 1.6;
}

a{
    transition: ease all .3s;
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
}

h6, h5, h4, h3, h2, h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 400;
    line-height: 1.2;
}

p {
    margin-top: 0;
    margin-bottom: 10px;
}

img{
    max-width: 100%;
    display: block;
}

.py-100{
    padding: 50px 0;
}

@media (min-width: 768px){
    .py-100{
        padding: 100px 0;
    }
}

.rounded{
    border-radius: 8px;
}

.align-items-center{
    align-items: center;
}

.headeing{
    margin-bottom: 50px;
}

.headeing h2{
    font-size: 36px;
    margin-bottom: 30px;
}

.headeing h5{
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
    color: #999;
}

.container,
.container-fluid{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 768px) {
    .col-md-6{
        flex: 0 0 auto;
        width: 50%;
    }
}

/* Header + Navbar */
.navbar {
    padding: 20px 15px;
    margin-bottom: 30px;
    border-bottom: 1px solid #eee;
}

.navbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand {
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    font-size: 24px;
    text-decoration: none;
    white-space: nowrap;
    color: #606c76;
}

.navbar-brand:hover{
    color: #222222;
}

.navbar-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar-nav li {
    display: inline-block
}

.navbar-nav li a {
    color: #606c76;
    font-size: 16px;
    text-decoration: none;
    display: block;
    padding: 5px 10px;
}

.navbar-nav li a:hover{
    color: #222222;
}


/* Promo Section */
.promo {
    position: relative;
}

.promo-text {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 30px;
}

.promo-text h1{
    font-size: 36px;
    margin: 0;
}


/* Navbar Mobile */
@media (max-width: 768px){
    .navbar-content {
        display: inherit;
        text-align: center;
    }

    a.navbar-brand {
        display: block;
    }

    .promo-text {
        padding: 15px;
    }
}


/* Our Menu Section */
.menu-item {
    border-bottom: 1px solid #eee;
    padding: 15px 0;
}

.menu-item h4 {
    font-size: 22px;
}

.menu-item p {
    font-size: 16px;
    color: #606c76;
    margin-bottom: 0;
}

/* Contact Section */
.contact-info{
    font-size: 16px;
    margin-top: 30px;
    padding: 0;
}

.contact-info li{
    list-style: none;
    margin-bottom: 15px;
}

.booking label{
    margin-bottom: 10px;
    display: block;
}

form input {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    height: 40px;
    border-radius: 4px;
    padding: 0 15px;
}

.booking button {
    border: none;
    padding: 10px 30px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: ease all .3s;
}

.booking button:hover{
    background-color: #ddd;
}

/* Footer Section */
footer p{
    text-align: center;
    padding: 50px 15px;
    margin-bottom: 0;
}

@media (max-width: 768px){
    .about-img{
        display: none;
    }
    .menu-img, .booking, .about-text {
        margin-top: 50px;
    }
}

